@font-face {
  font-family: 'InterFallback';
  src: url('/static/fonts/Inter-fallback.woff2') format('woff2');
  unicode-range: U+2192; /* Only the right arrow */
  font-display: swap;
}

div.dcl-dashboard-wrapper {
  height: 2058px;
  overflow: hidden;
  border-radius: 20px;
}

@media(max-width: 1108px) {
  div.dcl-dashboard-wrapper {
    height: 2360px;
  }
}

@media(max-width: 1000px) {
  div.dcl-dashboard-wrapper {
    height: 2100px;
  }
}

@media(max-width: 792) {
  div.dcl-dashboard-wrapper {
    height: 2360px;
  }
}

iframe.dcl-dashboard {
  width: 100%;
  height: 100%;
  frameborder: 0;
  border-radius: 20px;
}
